<div class="section filosofia">
    <h1> Filosofía </h1>
    <p class="subheader">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    </p>
    
    <div class="row contenido">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="#" class="thumbnail">
          <img src="https://farm6.staticflickr.com/5137/5391505774_9f3d876e5c.jpg" alt="...">
        </a>
        <h5> Título 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
        </p>
      </div>
      
      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="#" class="thumbnail">
          <img src="https://farm6.staticflickr.com/5334/7379198114_f68f3d5dd4.jpg" alt="...">
        </a>
        
        <h5> Título 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      <div class="col-xs-6 col-sm-4 col-md-4">
        <a href="#" class="thumbnail">
          <img src="https://farm6.staticflickr.com/5056/5392935227_2cf1774b59.jpg" alt="...">
        </a>
        <h5> Título 3 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
        </p>
      </div>
    </div>
    
</div>