<div class="section filosofia">
    <h1> Filosofía </h1>
    <p class="subheader">
      Somos una empresa de importación, distribución y comercialización de productos químicos en general, que está en el negocio para entregar un servicio integral en el abastecimiento de materias primas a grandes, medianas y pequeñas empresas de diferentes rubros en nuestro país.
    </p>
    
    <div class="row contenido">
      <div class="col-xs-3 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia1.jpg' %>
        </a>
        <h5> Título 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia2.jpg' %>
        </a>
        
        <h5> Título 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia3.jpg' %>
        </a>
        <h5> Título 3 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-6 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia4.jpg' %>
        </a>
        
        <h5> Título 4 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    
</div>