<div class="section filosofia">
    <h1> Filosofía </h1>
    <p class="subheader">
      Somos una empresa de importación, distribución y comercialización de productos químicos en general, que está en el negocio para entregar un servicio integral en el abastecimiento de materias primas a grandes, medianas y pequeñas empresas de diferentes rubros en nuestro país.
    </p>
    
    <div class="row contenido">
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="thumbnail">
          <img src="https://farm4.staticflickr.com/3439/3384616685_e6b7911514.jpg" alt="...">
        </a>
        <h5> Título 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et 
        </p>
      </div>
      
      <div class="col-xs-6 col-sm-6 col-md-6">
        <a href="#" class="thumbnail">
          <img src="https://farm3.staticflickr.com/2509/4121017697_3a636ea471.jpg" alt="...">
        </a>
        
        <h5> Título 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
      </div>
    </div>
    
</div>