<div class="section filosofia">
    <h1> Filosofía </h1>
    <p class="subheader">
      Somos una empresa de importación, distribución y comercialización de productos químicos en general, que está en el negocio para entregar un servicio integral en el abastecimiento de materias primas a grandes, medianas y pequeñas empresas de diferentes rubros en nuestro país.
    </p>
    
    <div class="row contenido">
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia1.jpg' %>
        </a>
        <h5> Flota de Reparto. </h5>
        <p>
          Una amplia flota de reparto para entregas a granel, tambores o envasados menores.
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia2.jpg' %>
        </a>
        
        <h5> Bodega </h5>
        <p>
          Más de 2000 m2. de bodegas, le aseguran a usted un stock permanente de productos.
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia3.jpg' %>
        </a>
        <h5> Tecnología </h5>
        <p>
          Nuestros sistemas tecnológicos y computacionales otorgan seguridad a sus clientes. 
        </p>
      </div>
      
      <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="#" class="thumbnail">
          <%= image_tag 'filosofia4.jpg' %>
        </a>
        
        <h5> Almacenaje de Solventes. </h5>
        <p>
          Actualmente posee una batería de estanques, con capacidad superior a los 1500 m3, cifra que aumentará en los próximos años.
        </p>
      </div>
    </div>
    
</div>