<div class="section introduccion">
  
  <div class="contenido">
    
    <div class="titulo">
      <h2> Reno S.A. </h2>
      
      <div class="texto">
        <!-- Con presencia en Argentina desde 2007,  Reno S.A. cubre la distribución de productos químicos a nivel nacional a través de sus oficinas en Buenos Aires. La Empresa atiende a clientes pertenecientes a los sectores de Textil y Cueros, Tratamiento de Agua, Cosmética y Cuidado Personal, Alimentos, Plásticos & Poliuretanos, Minería, Petróleo & Gas, Pintuas & Barnices, Agricultura, Farmacéutico y otros. -->
        Industrias Químicas Reno S. A. es una empresa productora, comercializadora, distribuidiora e importarora de productos químicos, cuyo principal objetivo es satisfacer las necesidades de sus actuales y futuros clientes.
      </div>
      
      <a class="btn btn-default" href="#quienes_somos">
        Conocer más
      </a>
    </div>
  </div>
</div>