<div class="section introduccion">
  <div class="contenido">
    <div class="titulo pull-left">
      <h2> Reno S.A. </h2>
      <ul> 
        <li> Proveedor de materias primas y químicas </li>
        <li> Esta es una característica de la empresa </li>
        <li> Otra característica importante de RENO S.A. </li>
        <li> Estaría bueno que sean cortitas las características </li>
      </ul>
      
      <a class="btn btn-default" href="#quienes_somos">
        Conocer más
      </a>
    </div>
  </div>
</div>