<div class="section perfil_empresarial">
    <hr></hr>
    
    <div class="row contenido">
      <div class="col-xs-12 col-md-6 col-sm-6">
        <a href="#" class="thumbnail">
          <%= image_tag 'perfil_empresarial.jpg' %>
        </a>
      </div>
      
      <div class="col-xs-12 col-md-6 col-sm-6">
        <h3 class="costado"> Perfil Empresarial </h3>
        <h5> SUBTÍTULO 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <h5> SUBTÍTULO 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
        </p>
      </div>
    </div>
    
</div>