<div class="section perfil_empresarial">
    <hr></hr>
    
    <div class="row contenido">
      <div class="col-xs-12 col-sm-7 col-md-7">
        <a href="#" class="thumbnail">
          <!-- <img src="https://farm8.staticflickr.com/7046/6800805548_b8fd3c5791_z.jpg" alt="..."> -->
          <%= image_tag 'perfil_empresarial.jpg' %>
        </a>
      </div>
      
      <div class="col-xs-12 col-sm-5 col-md-5">
        <h3 class="costado"> Perfil Empresarial </h3>
        <h5> SUBTÍTULO 1 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
        </p>
        <h5> SUBTÍTULO 2 </h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    
</div>