<div class="section perfil_empresarial">
    <hr></hr>
    
    <div class="row contenido">
      <div class="col-xs-12 col-md-4 col-sm-6">
        <a href="#" class="thumbnail">
          <%= image_tag 'perfil_empresarial.jpg' %>
        </a>
      </div>
      
      <div class="col-xs-12 col-md-8 col-sm-6">
        <h3 class="costado"> Perfil Empresarial </h3>
        <h5> INNOVACIÓN </h5>
        <p>
          La innovación es el pilar de nuestro quehacer como empresa, la búsqueda de nuevos productos de alta calidad que, es el centro de nuestros esfuerzos tanto humanos como tecnologicos. La gestión de recursos, nuestro servicios de venta, post-venta y nuestro capital humano, nos situan en una posición de liderazgo en el sector. 
        </p>
        <h5> EXCELENCIA </h5>
        <p>
          Reno S.A. mantiene su compromiso con sus estimados clientes en la excelencia en sus productos y en la calidad de sus servicios.
        </p>
      </div>
    </div>
    
</div>