<div class="section presencia_internacional">
    <hr>
    <h1> Presencia Internacional </h1>
    
    <div class="contenido">
      <div>
        <div class="flecha"></div>
      <div class="texto">
        <p>
          Estamos marcando presencia en varios países de latinoamerica y abriendo nuevos mercados; así como realizando alianzas estrategicas con importantes empresas internacionales para entregarles cada vez mejores productos.
        </p>
        <p>
          Nuestro clientes y socios estratégicos nos avalan, junto con los cuales abarcamos una amplia gama de rubros a los cuales aportamos nuestros servicios, productos y experiencia.
        </p>
      </div>
    </div>
          
    <p class="text-center">
      <%= link_to 'Conocer más', clientes_path, class: 'btn btn-default' %>
    </p>
    
</div>