<div class="section presencia_internacional">
    <hr>
    <h1> Presencia Internacional </h1>
    <p class="subheader">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
    </p>
    
    <div class="row contenido">
      <div class="col-xs-6 col-sm-4 col-md-4">
        <ul>
          <li> Item corto </li>
          <li> Item que es mediano </li>
          <li> Item que es un poco más largo</li>
          <li> Item </li>
        </ul>
      </div>
      
      <div class="col-xs-6 col-sm-4 col-md-4">
        <ul>
          <li> Item corto </li>
          <li> Item que es mediano </li>
          <li> Item que es un poco más largo</li>
          <li> Item </li>
        </ul>
      </div>
      
      <div class="col-xs-6 col-sm-4 col-md-4">
        <ul>
          <li> Item corto </li>
          <li> Item que es mediano </li>
          <li> Item que es un poco más largo</li>
          <li> Item </li>
        </ul>
      </div>
    </div>
    
</div>