<div class="section presencia_internacional">
    <hr>
    <h1> Presencia Internacional </h1>
    
    <div class="contenido">
      <div>
        <div class="flecha"></div>
      <div class="texto">
        <p>
          Estamos marcando presencia en varios países de latinoamerica y abriendo nuevos mercados; así como realizando alianzas estrategicas con importantes empresas internacionales para entregarles cada vez mejores productos.
        </p>
        <p>
          Nuestro clientes y socios estratégicos nos avalan, junto con los cuales abarcamos una amplia gama de rubros a los cuales aportamos nuestros servicios, productos y experiencia.
        </p>
      </div>
    </div>
      
      <h3> Algunos de nuestros clientes </h3>
      <div class="row">
        <div class="cliente col-xs-6 col-md-3 col-sm-3">
          <a href="#">
            <img src="https://farm6.staticflickr.com/5290/5260990994_37d099bfec_q.jpg" alt="...">
          </a>
          <p> Cliente 1 </p>
        </div>
        
        <div class="cliente col-xs-6 col-md-3 col-sm-3">
          <a href="#">
            <img src="https://farm5.staticflickr.com/4023/4346481624_618fdf59cb_q.jpg" alt="...">
          </a>
          <p> Cliente 2 </p>
        </div>
        
        <div class="cliente col-xs-6 col-md-3 col-sm-3">
          <a href="#">
            <img src="https://farm7.staticflickr.com/6091/6365692623_8380d6fc4a_q.jpg" alt="...">
          </a>
          <p> Cliente 3 </p>
        </div>
        
        <div class="cliente col-xs-6 col-md-3 col-sm-3">
          <a href="#">
            <img src="https://farm6.staticflickr.com/5005/5314526517_a1d7e323f8_q.jpg" alt="...">
          </a>
          <p> Cliente 4 </p>
        </div>
        
      </div>
    
    </div>    
    
    <p class="text-center">
      <%= link_to 'Conocer más', clientes_path, class: 'btn btn-default' %>
    </p>
    
</div>