<div class="section presencia_internacional">
    <hr>
    <h1> Presencia Internacional </h1>
    
    <div class="contenido">
      <p>
        Estamos marcando presencia en varios países de latinoamerica y abriendo nuevos mercados; así como realizando alianzas estrategicas con importantes empresas internacionales para entregarles cada vez mejores productos.
      </p>
      <p>
        Nuestro clientes y socios estratégicos nos avalan, junto con los cuales abarcamos una amplia gama de rubros a los cuales aportamos nuestros servicios, productos y experiencia.
      </p>
    
      <p class="text-center">
        <a class="btn btn-default"> Conocer más </a>
      </p>
    </div>    
    
</div>