<div class="section quienes_somos">
    <a name="quienes_somos"></a>
    <h1> Quienes somos </h1>
    <p class="subheader">
      Industrias Químicas Reno S. A. es una empresa productora, comercializadora, distribuidiora e importarora de productos químicos, cuyo principal objetivo es satisfacer las necesidades de sus actuales y futuros clientes.
    </p>
    
    <div class="row contenido">
      <iframe src="//player.vimeo.com/video/14981108?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
</div>