<div class="section quienes_somos">
    <a name="quienes_somos"></a>
    <h1> Quienes somos </h1>
    <p class="subheader">
      Con presencia en Argentina desde 2007,  Reno S.A. cubre la distribución de productos químicos a nivel nacional a través de sus oficinas en Buenos Aires. La Empresa atiende a clientes pertenecientes a los sectores de Textil y Cueros, Tratamiento de Agua, Cosmética y Cuidado Personal, Alimentos, Plásticos & Poliuretanos, Minería, Petróleo & Gas, Pintuas & Barnices, Agricultura, Farmacéutico y otros.
    </p>
    
    <div class="row contenido">
      <iframe src="//player.vimeo.com/video/14981108?title=0&amp;byline=0&amp;portrait=0" width="750" height="422" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    
</div>