<div id="compromiso">
  
  <!-- <h1> Compromiso </h1> -->
  
  <div class="contenido row">
    <div class="row">
      <%= image_tag "futuro.jpg", :title => "title", :class => "class" %>
    </div>
    
    <p>
        Reno S.A. proyecta un crecimiento sustentable en el tiempo, lo cual considera una gama de proyectos a realizar en el futuro. En el corto plazo, se aumentará y perfeccionará su capital humano, a través de un fortalecimiento de su fuerza de ventas, capacitando continuamente a su personal sobre sus productos, usos y aplicaciones.
        En el corto plazo se considera modificar su capacidad de planta, a través de la ampliación de sus bodegas, el aumento de sus estanques de almacenamiento de solventes y junto a la modernización de su flota de reparto, lo que mejorará aún más se servicio a los clientes. En el corto plazo, se evalúa la instalación de nuevas plantas en distintas partes de Chile, como en el largo plazo también en el extranjero.
      </p>

  </div>
</div>