<div id="compromiso">
  
  <!-- <h1> Compromiso </h1> -->
  
  <div class="contenido row">
    <div class="row">
      <%= image_tag "futuro.jpg", :title => "title", :class => "class" %>
      <p>
          Reno S.A. pertenece al convenio internacional <b>Conducta Responsable</b>, el cual es un compromiso voluntario por el cual las empresas químicas se obligan a realizar esfuerzos permanentes para perfeccionar los procesos de producción, manejo, distribución, uso y disposición de los productos con el objeto de obtener las mejores condiciones de salud y seguridad para las personas y la más adecuada protección del Medio Ambiente y de los bienes de la comunidad.
      </p>
    </div>
    
    <div class="row">
      <h2> Compromiso con el futuro </h2>
      <p>
          Reno S.A. proyecta un crecimiento sustentable en el tiempo, lo cual considera una gama de proyectos a realizar en el futuro. En el corto plazo, se aumentará y perfeccionará su capital humano, a través de un fortalecimiento de su fuerza de ventas, capacitando continuamente a su personal sobre sus productos, usos y aplicaciones.
      </p>
      <p>
        En el corto plazo se considera modificar su capacidad de planta, a través de la ampliación de sus bodegas, el aumento de sus estanques de almacenamiento de solventes y junto a la modernización de su flota de reparto, lo que mejorará aún más se servicio a los clientes. En el corto plazo, se evalúa la instalación de nuevas plantas en distintas partes de Chile, como en el largo plazo también en el extranjero.
      </p>
    </div>
  </div>
</div>