<div id="compromiso">
  
  <!-- <h1> Compromiso </h1> -->
  
  <div class="contenido row">
    <div class="row">
      <%= image_tag "futuro.jpg", :title => "title", :class => "class" %>
    </div>
    
    <p>
        Reno S.A. pertenece al convenio internacional <b>Conducta Responsable</b>, el cual es un compromiso voluntario por el cual las empresas químicas se obligan a realizar esfuerzos permanentes para perfeccionar los procesos de producción, manejo, distribución, uso y disposición de los productos con el objeto de obtener las mejores condiciones de salud y seguridad para las personas y la más adecuada protección del Medio Ambiente y de los bienes de la comunidad.
      </p>

  </div>
</div>