<div id="instalaciones">
  <div class="contenido">
    <h1> Instalaciones </h1>
    <div class="row">
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones1.jpg' %>
        </div>  
        <div class="footer">
          <h5> Titulo 1 </h5>
          <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
        </div>
      </div>
      
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones2.jpg' %>
        </div>  
        <div class="footer">
          <h5> Titulo 2 </h5>
          <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
          <%= image_tag 'instalaciones3.jpg' %>
        </div>  
        <div class="footer">
          <h5> Titulo 3 </h5>
          <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
        </div>
      </div>
      
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones4.jpg' %>
        </div>  
        <div class="footer">
          <h5> Titulo 4 </h5>
          <p> 
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.
          </p>
        </div>
      </div>
    </div>
      
  </div>
      
</div>