<div id="instalaciones">
  <div class="contenido">
    <h1> Instalaciones </h1>
    <div class="row">
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones1.jpg' %>
        </div>  
        <div class="footer">
          <h5> Almacenaje de Solventes </h5>
          <p> 
            Actualmente posee una batería de estanques, con capacidad superior a los 1500 m3, cifra que aumentará en los próximos años.
          </p>
        </div>
      </div>
      
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones2.jpg' %>
        </div>  
        <div class="footer">
          <h5> Laboratorio </h5>
          <p> 
            Nuestro laboratorio certifica un estricto control de calidad en los productos que Quimica reno distribuye para usted.
          </p>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
          <%= image_tag 'instalaciones3.jpg' %>
        </div>  
        <div class="footer">
          <h5> Bodega </h5>
          <p> 
            Más de 2000 m2. de bodegas, le aseguran a usted un stock permanente de productos, almacenados en perfectas condiciones para cumplir sus requerimientos a su entera satisfacción.
          </p>
        </div>
      </div>
      
      <div class="instalacion col-xs-6 col-md-6">
        <div class="thumbnail">
            <%= image_tag 'instalaciones4.jpg' %>
        </div>  
        <div class="footer">
          <h5> Flota de Reparto </h5>
          <p> 
            Una amplia flota de reparto para entregas a granel, tambores o envasados menores, aseguran su producto con seguridad y eficiencia, siendo la puntualidad en las entregas un factor que nos caracteriza.
          </p>
        </div>
      </div>
    </div>
      
  </div>
      
</div>