// Place all the styles related to the productos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#productos {
  background: #F1F2F7;
  padding-top: 50px;
  padding-bottom: 20px;
  
  h1 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 300px;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
  }
  
  aside {
    font-size: 0.9em;
    
  }
  
  .pagination {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  
  .listado {
    margin-bottom: 20px;
    ul { padding: 0px; }
    li {
      list-style: none;
      font-size: 0.9em;
    
      &.inicial {
        margin: 10px 0px;
        border-bottom: 1px solid #DDD;
        font-weight: bold;
        color: #428bca;
      }
    }
  }
  
  .por_categoria {
    margin-left: 30px;
    h1 { 
      text-align: left; 
      border-bottom: 1px solid #DDD;
    }
    ul { padding-left: 20px; }
  }
  
  
  
}