@media only screen and (min-device-width: 481px) and (max-device-width: 1025px) {
  #fixed_bg {
    background: none;
  }
  
  .perfil_empresarial, .presencia_internacional {
    color: #666;
    background-color: rgb(238, 238, 238);
  }
  
  .perfil_empresarial h3 {
    margin-top: 0px;
  }
}