<footer id="footer">
    <!-- Footer Top Start -->
    <div class="footer-top">
       <div class="contenido container">
          <div class="row">
             <section class="col-lg-4 col-md-4 col-xs-12 col-sm-4  footer-one">
                <h3> Acerca de </h3>
                <p> 
                   Somos una empresa de importación, distribución y comercialización de productos químicos en general.
                </p>
             </section>
           
             <section class="col-lg-5 col-md-5 col-xs-12 col-lg-offset-1 col-sm-5">
                <h3>Contacto</h3>
                <ul class="contacto">
                   <li>
                      <i class="glyphicon glyphicon-globe"></i>
                      <p> 
                         <strong class="contact-pad">Dirección:</strong> Limache 3730, Viña del Mar 
                      </p>
                   </li>
                   <li>
                      <i class="glyphicon glyphicon-phone-alt"></i>
                      <p><strong>Teléfono:</strong> (56-32) 455200</p>
                   </li>
                   <li>
                      <i class="glyphicon glyphicon-envelope"></i>
                      <p><strong>Email:</strong><a href="mailto:reno@reno.cl">reno@reno.cl</a></p>
                   </li>
                </ul>
             </section>
           
             <% if @pais == 'arg' %>
               <section class="col-lg-2 col-md-1 col-xs-12 col-sm-2 afip">
                 <%= link_to image_tag('afip.gif').html_safe, 
                    'https://servicios1.afip.gov.ar/clavefiscal/qr/response.aspx?qr=0OJgG8a_LbsswWuzaPPFAA,,',
                    target: '_blank'%>
                 <p> Formulario <br> 960 N.M. </p>
               </section>
             <% end %>
          </div>
       </div>
    </div>
    <!-- Footer Top End --> 
    <!-- Footer Bottom Start -->
    <div class="footer-bottom">
       <div class="container">
          <div class="row">
             <div class="col-lg-6 col-md-6 col-xs-12 col-sm-6 "> 
               © Copyright 2014 <a style="cursor: pointer;">Reno S.A.</a>. 
               Todos los derechos reservados. 
             </div>
          </div>
       </div>
    </div>
    <!-- Footer Bottom End --> 
</footer>